/config/database.yml
/config/credentials.yml.enc
/.env
/public/uploads/
/public/packs-test/
/node_modules/
/.DS_Store
/Thumbs.db
/.idea/
/.vscode/

/.bundle

/db/*
/db/*.sqlite3
/db/*.sqlite3-*

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

/storage/*
!/storage/.keep

/public/assets
.byebug_history

/config/master.key

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
