<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Under development</title>
  <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.cdnfonts.com/css/headline-text" rel="stylesheet">

  <link rel="stylesheet" href="styles.css">
</head>
<body>
    <%= render "layouts/navigation" %>

  <div class="container">
    <div class="my-4 under_construction">
      <h1>Site is under construction</h1>
      <h1>El sitio está en construcción</h1>
      <h1>Strona jest w trakcie budowy</h1>
      <h1>Сайт находится в разработке</h1>
    </div>
  </div>
  <script src="scripts.js"></script>
</body>
</html>

